
.player{
  background-color: darkseagreen;
  line-height: 30px;
  border-radius: 5px;
  padding:  0 5px;
  transition-property: background-color;
  transition-property: background-color;
  transition-duration: .2s;
  transition-timing-function: linear;
  transition-delay: 0.2s;
}
p{
  padding: 0 5px;
  line-height: 30px;
}
