.block{
  width: 100px;
  height: 100px;
  border: 1px solid indianred;
  float: left;
  border-radius: 5px;
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
  font-size: 50px;
  text-align: center;
  line-height: 100px;
  background-color: ivory;
  color: dimgray;
  font-family: 'Nunito', sans-serif;
  font-size: 90px;
}
